$ulcolor: pink;
$backgroundcolor: green;
$sectioncolor: purple;
$atliktacolor: black;

@mixin border() {
    border: 3px solid black;
}

@mixin centravimas() {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin borderbottom() {
    border-bottom: 2px solid black;
}